<div id="carouselLastEvents" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="20000" data-bs-pause="hover" style="height: 50vh; margin: 0 auto;">
  <div class="carousel-inner" style="height: 100%;">

    <div class="carousel-item active d-flex justify-content-center align-items-center" style="height: 100%;">
      <%= cl_image_tag @last_three[0].poster.key,
          # Images should be centralized in the carousel
          class: "d-block h-100 carousel-img",
          alt: @last_three[0].title %>
    </div>

    <div class="carousel-item d-flex justify-content-center align-items-center" style="height: 100%;">
      <%= cl_image_tag @last_three[1].poster.key,
          class: "d-block h-100 carousel-img",
          alt: @last_three[1].title %>
    </div>

    <div class="carousel-item d-flex justify-content-center align-items-center" style="height: 100%;">
      <%= cl_image_tag @last_three[2].poster.key,
          class: "d-block h-100 carousel-img",
          alt: @last_three[2].title %>
    </div>

  </div>

</div>
