<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h4 class="fw-bold mb-4">Top Cast</h4>
      <div class="row g-4">
        <%# Show up to 10 actors, two per row on md+ screens %>
        <% @cast.each do |actor| %>
          <% character = actor.characters.find_by(movie: @movie) %>
          <div class="col-6 col-md-6">
            <div class="d-flex align-items-start">
              <%# Actor image, fixed width 25% of the column %>
              <div style="width: 25%; flex-shrink: 0;">
                <% if actor.photo.attached? %>
                  <img src="<%= actor.photo.url %>" class="img-fluid rounded">
                <% else %>
                  <%# Compute initials: take first letters of each word in name %>
                  <% initials = actor.name.split.map { |part| part[0] }.join.upcase %>
                  <div
                    class="d-flex align-items-center justify-content-center rounded"
                    style="background-color: #cccccc; width: 100%; padding-top: 100%; position: relative;">
                    <span class="initials"><%= initials %></span>
                  </div>
                <% end %>
              </div>
              <%# Name and character, with left margin %>
              <div class="ms-3">
                <h6 class="fw-bold mb-1"><%= actor.name %></h6>
                <small class="text-muted"><%= character&.character_name %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
