<turbo-frame id="movies_container">
  <!-- Banner with 3 movies -->
  <div id="movies_container_content">
    <%= render partial: "banner", locals: { movies: @movies } %>
    <!-- Categories or “home‐content” -->
    <%= render partial: "genres", locals: { movies: @top_genres } %>
    <%= render partial: "popular-movies", locals: { movies: @popular_movies } %>
  </div>
</turbo-frame>
