<!-- app/views/movies/index.html.erb -->

<!-- 1) Search bar (unchanged) -->
<%= render partial: "shared/search-bar" %>

<!-- 2) Turbo Frame wrapping banner, home-content, and results -->
<turbo-frame id="movies_container">
  <!-- Banner with 3 movies -->
  <div id="movies_container_content">
    <%= render partial: "banner", locals: { movies: @movies } %>

    <!-- Categories or “home‐content” -->
    <%= render partial: "genres", locals: { movies: @top_genres } %>
    <%= render partial: "popular-movies", locals: { movies: @popular_movies } %>
  </div>
</turbo-frame>
