<%# app/views/shared/_movie_card.html.erb %>
<div class="col-6 d-flex">
  <%= link_to movie_path(movie), data: { turbo_frame: "_top" },
                      class: "text-decoration-none text-reset" do %>
    <div class="card flex-fill">
      <%= image_tag cloudinary_poster(movie),
                    class: "card-img-top",
                    alt: movie.title %>
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
      </div>
    </div>
  <% end %>
</div>
