 <div class="container-fluid py-3 mb-5">
    <h5 class="px-3 pt-3"> <%= title%></h5>
    <div class="d-flex overflow-auto px-3 pb-3">
      <% movie_list.each do |movie| %>
        <%= link_to movie_path(movie),
            data: { turbo_frame: '_top' },
            class: "text-decoration-none text-reset" do %>
        <div class="card me-3 shadow-sm" style="min-width: 8rem; max-width: 8rem;">
          <%= image_tag cloudinary_poster(movie), class: "card-img-top", alt: movie.title %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
