<%# app/views/shared/_results.html.erb %>
<%= turbo_stream_from "search_results_#{params[:query]}" %>
<%= turbo_frame_tag "genre_results" do %>

<%= turbo_frame_tag :movies_container do %>
  <div class="container px-3 pb-3 bottom-push push-search ">
    <div class="row g-3" id="results_list">
      <% @movies.each do |movie| %>
        <%= render partial: "shared/movie_card", locals: { movie: movie } %>
      <% end %>

      <%#— fill up to 3 with skeletons —%>
      <% threshold = 3
         missing   = [threshold - @movies.size, 0].max
      %>
      <% missing.times do %>
        <div class="col-6 d-flex">
          <div class="card flex-fill skeleton-card"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
